.backgroundContainer {
    background-color: var(--bgBlack);
    min-height: 100vh;
    border: 2px solid var(--black);
    font-family: Vollkorn;
    display: flex;
    flex-direction: column;
}

.form-control {
    background-color: var(--bgBlack);
    border: 1px solid black;
    border-radius: 20px;
    color: white;
}

.form-control::placeholder {
    color: var(--placeholder);
}

.form-control:focus {
    background-color: var(--bgBlack);
    color: var(--white);
}