:root{
    --bgBlack: #222222;
    --grayBlack:#5a5a5a22;
    --black: #000000;
    --primaryColor: #FFD7B1;
    --primaryColorDark: #ffd7b1ee;
    --gray: #B3B3B3;
    --placeholder: #555555;
    --white: white;
    --btnBg: #A8A8A8;
    --sliderBG: #141414;
}

.emptyPlaylist {
    color: var(--placeholder);
}