@use 'colors';

.tracksList, .playlistTracks, .tracks_list {
    background-color: var(--sliderBG);
    border-radius: 20px;
    border: 2px solid var(--gray);
    list-style-type: none;
    width: 35vw;

    .trackLink, .track_element {
        text-decoration: none;
        margin: 5px 0;

        .track {
            color:white;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .trackInfo {
                display: flex;
                flex-direction: column;
            }

            a {
                text-decoration: none;
            }

            a :hover {
                color: var(--primaryColor);
                transition: color .2s linear;
            }

            .trackArtist {
                font-size: small;
                color: var(--gray);
            }

            .trackName {
                font-size: larger;
                color: var(--white)
            }
            
            .trackDuration {
                margin-left: 8vw;
                margin-right: 1vw;
            }
        }

        .track:hover {
            transition: all .2s linear;
            background-color: var(--placeholder);
        }

        .track-number:hover {
            color: var(--white);
        }

    }

}

