:root{
    --bgBlack: #242424;
    --black: #000000;
    --bgHead: #1E1E1E;
    --primaryColor: #FFD7B1;
    --gray: #B3B3B3;
    --placeholder: #555555;
    --white: white;
    --btnBg: #A8A8A8;
}

.playlistInfo img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.playlistTracks {
    background-color: var(--bgHead);
    border-radius: 20px;
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}

.track {
    color:white;
    border-radius: 15px;
}

.trackArtist {
    color: var(--gray);
}

.trackName {
    color: var(--white)
}

.trackLink {
    text-decoration: none;
    margin: 5px 0;
}

.playButton, .likeButton{
    background-color:transparent;
    border: 0;
}

.buttonsCont {
    display: flex;
    justify-content: center;
}

.buttonsCont .svg {
    width: 48px;
    height: 48px;
}
