.playlistInfo img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
}

.playlistTracks {
    background-color: var(--bgBlack);
    border-radius: 20px;
    border: 2px solid var(--gray);
}

.track {
    color:white;
    border-radius: 15px;
    display: flex;
}

.trackArtist {
    color: var(--gray);
}

.trackName {
    color: var(--white)
}

.trackLink {
    text-decoration: none;
    margin: 5px 0;
}

.trackDuration {
    margin-left: 8vw;
    margin-right: 1vw;
}

.toolButton {
    background-color:transparent;
    border: 0;
}

.buttonsCont {
    display: flex;
    justify-content: center;
}

.buttonsCont .svg {
    width: 48px;
    height: 48px;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}